@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
                <!-- Section Caroussel /  -->
                <div class="col-lg-12 order-lg-2">
                    <!-- Carrousel -->
                    <header class="page-service page-secretariat text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 order-lg-2 mx-auto">
                                    <h1 class="mb-5">Vos Voyages</h1>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="row no-gutters">
                        <blockquote class="col-lg-12 my-auto text-center showcase-text blockquote">
                            <p class="lead mb-0">Retrouvez ici toutes les informations concernants les voyages.</p>
                        </blockquote>
                    </div>
                    <!-- Icons Grid -->
                    <!--FAIRE UNE TIMELINE ????-->
                    <section class="features-icons bg-light text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInfos"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Informations Voyages
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuInfos">
                                        <li><a href="" title="">Politique voyage THALES</a></li>
                                        <li><a href="" title="">Guide du salarié en mission</a></li>
                                        <li><a href="" title="">Condition carte AMEX</a></li>
                                        <li><a href="" title="">Instructions voyages et déplacements</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInfos"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Avant son voyage
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuInfos">
                                        <li><a href="" title="">Demande Préalable</a></li>
                                        <li><a href="" title="">Contact assurance à emporter</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInfos"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Réserver son voyage
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuInfos">
                                        <li><a href="" title="">Procédures</a></li>
                                        <li><a href="" title="">Contact CARLSON et CONCUR</a></li>
                                        <li><a href="" title="">Liste des hôtels et hébergements</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInfos"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Après son voyage
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuInfos">
                                        <li><a href="" title="">Procédure Note de frais</a></li>
                                        <li><a href="" title="">Indicateur remboursement note de frais</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInfos"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Assurance
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuInfos">
                                        <li><a href="" title="">Fiche déclaration de sinistre</a></li>
                                        <li></li>
                                        <li></li>
                                        <li><a href="" title="">Carte assurance THALES ou AIG</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <!-- <div class="col-lg-1 order-lg-4" style="background-color: #f2f5f7;"></div> -->

            </div>
        </div>
    </section>
</section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Utils.js"></script>