@page
@{
    //Teo berguerre reprise du code de nicolas 11/09/2020
    //PAGE SECRETARIAT
}
<link rel="stylesheet" href="~/css/DirectionGenerale.css">
<section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
                <!-- Section Caroussel /  -->
                <div class="col-lg-12 order-lg-2">
                    <!-- Carrousel -->
                    <header class="page-service page-secretariat text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 order-lg-2 mx-auto">
                                    <h1 class="mb-5">Le Secrétariat de Trixell</h1>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="row no-gutters">
                        <blockquote class="col-lg-12 my-auto text-center showcase-text blockquote">
                            <p class="lead mb-0">Nous avons le sens de l’accueil client  et sommes le relais des actionnaires Trixell ! Nous accueillons les clients internes et externes, et répondons à leurs besoins sur le plan administratif.</p>
                        </blockquote>
                    </div>
                    <!-- Icons Grid -->
                    <section class="features-icons bg-light text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 phoneHover">
                                        <div class="features-icons-icon d-flex">
                                            <i class="fas fa-phone m-auto trix-blue picto"></i>
                                        </div>
                                        <h3 class="">Nous appeler</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <a href="mailto:secretariat@trixell-thalesgroup.com" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="far fa-envelope m-auto trix-blue picto"></i>
                                            </div>
                                            <h3>Nous écrire</h3>
                                        </div>
                                    </a>
                                </div>
@*
                                <div class="col-lg-4 margin-top-100">
                                    <a href="~/DirectionGenerale/Secretariat/Voyages.cshtml" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-plane m-auto trix-blue"></i>
                                            </div>
                                            <h3>Voyages</h3>
                                        </div>
                                    </a>
                                </div>*@
                                <div class="col-lg-3">
                                    <a href="~/DirectionGenerale/Secretariat/Documents.cshtml" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="far fa-file m-auto trix-blue picto"></i>
                                            </div>
                                            <h3>Documents Utiles</h3>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-lg-3">
                                    <!-- pour chaque article on lui créer un modal(pop-up bootstrap) avec son titre sa description etc-->
                                    <div class="modal fade" id="espaceHandicap" tabindex="-1" role="dialog" aria-labelledby="locationVehiculeModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="locationVehiculeeModal">Location Vehicule ou Taxi</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span>
                                                        <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                        <a class="popAnchor" href="#" data-placement="right" data-content='<a href="">Mémo EUROPCAR</a> <br /> <a href="index.cshtml">Mémo AVIS</a> <br /> <a href="index.cshtml">Mémo taxi (France et étranger)</a> <br />'><strong>Informations location véhicule et taxi</strong></a>
                                                    </span>
                                                    <br />
                                                    <span>
                                                        <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                        <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Demande de carte AVIS PREFERED</a> <br /> <a href="index.cshtml">Contact assurance à emporter</a> <br />'><strong>Avant sa réservation</strong></a>
                                                    </span>
                                                    <br />
                                                    <span>
                                                        <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                        <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Procédures</a> <br /> <a href="index.cshtml">Contact CARLSON, CONCUR, AVIS, EUROPCAR </a> <br />'><strong>Réserver son voyage</strong></a>
                                                    </span>
                                                    <br />
                                                    <span>
                                                        <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                        <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Procédure Note de frais</a> <br /> <a href="index.cshtml">Indicateur remboursement note de frais</a> <br />'><strong>Après son voyage</strong></a>
                                                    </span>
                                                    <br />
                                                    <span>
                                                        <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                        <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Fiche déclaration de sinistre</a> <br /> <a href="index.cshtml">Carte assurance THALES ou AIG</a> <br />'><strong>Assurance</strong></a>
                                                    </span>
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#espaceHandicap" data-tardet="#espaceHandicap" data-toggle="modal" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-car m-auto trix-blue picto"></i>
                                            </div>
                                            <h3>Location véhicule</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- <div class="col-lg-1 order-lg-4" style="background-color: #f2f5f7;"></div> -->
            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-12 order-lg-2 bg-white">
                    @{
                        ViewBag.TypeOfArticle = "ArticleSecretariat";
                        await Html.RenderPartialAsync("../Shared/_Articles");
                    }
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Utils.js"></script>
