@page
@{
    //Teo berguerre 04/11/2020
}
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters bg-white">
            <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
            <!-- Section Caroussel /  -->
            <div class="col-lg-12 order-lg-2">
                <!-- Carrousel -->
                <header class="page-service page-secretariat text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 order-lg-2 mx-auto">
                                <h1 class="mb-5">SAV</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="row no-gutters">
                    <blockquote class="col-lg-12 my-auto text-center showcase-text blockquote">
                        <h4>Notre métier</h4>
                        <p class="lead mb-0">
                           Le SAV traite les réclamations de nos clients et assure la gestion des produits retournés.
                        </p>
                        <table style="margin: auto">
                            <tr> Les Missions </tr>
                            <tr>
                                <th>Assurer que les produits réparés sont livrés dans les délais prévus.</th>
                                <th>Etre responsable des diagnostics et réaliser les devis clients.</th>
                                <th>Assurer la communication clients pour les produits en réparation.</th>
                                <th>Tenir à jour la base SAV et les indicateurs de fiabilité.</th>
                            </tr>
                            
                        </table>
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="~/img/InProgress.jpg" />
    </div>
</section>

@*<section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-12 order-lg-2 bg-white">
                    @{
                        ViewBag.TypeOfArticle = "ArticleSecretariat";
                        await Html.RenderPartialAsync("../Shared/_Articles");
                    }
                </div>
            </div>
        </div>
    </section>
*@