@page
@inject OrchardCore.IOrchardHelper Orchard

@model Trixnet.web.Controllers.IndexModel
@{
    //Derniere modification Teo berguerre 23/09/2020 => Fil d'actualite avec modal
    /*Page direction FINANCIERE
    Celle-ci recupere les Articles et Projets des Finances / SI afin de les afficher
    A partir de cette page on peut acceder à :
    SI
    - Help.cshtml
    - Stats.cshtml
    Finance
    - InstructionFormulaire.cshtml
    */


    int how_many_retrieved = 2;
    int actualite_finance = 4;
    //On récupere tout les items de type Projets et les Articles du SI
    var tab_projets = await Orchard.GetRecentContentItemsByContentTypeAsync("Projets", how_many_retrieved);
    var tab_articlesSI = await Orchard.GetRecentContentItemsByContentTypeAsync("ArticleSI", how_many_retrieved);
    var tab_articlesFinance = await Orchard.GetRecentContentItemsByContentTypeAsync("ArticleFinance", actualite_finance);

}

<link rel="stylesheet" href="~/css/DirectionFinanciere.css">
<section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="col-lg-12 trixell-X">
                <!--finance-->
                <div class="row" style="border:0.1px solid transparent">
                    <div class="col-lg-6 background-color-darkblue">
                        <div class="block">
                            <a class="color-white" href="~/Financiere">Finance</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <section class="features-icons text-center margin-top-50">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <a href="mailto:secretariat@trixell-thalesgroup.com" class="link-picto">
                                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                                <div class="features-icons-icon d-flex">
                                                    <i class="far fa-envelope m-auto trix-blue"></i>
                                                </div>
                                                <h3>Nous écrire</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="../InProgress.html" class="link-picto">
                                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                                <div class="features-icons-icon d-flex">
                                                    <i class="fas fa-align-justify m-auto trix-blue picto"></i>
                                                </div>
                                                <h3>Instructions et formulaires</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

                <!--SI-->
                <div class="row" style=" border: 0.1px solid transparent">
                    <div class="col-lg-6">
                        <section class="features-icons text-center margin-top-100">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <a href="~/SI/Help.cshtml" class="link-picto">
                                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                                <div class="features-icons-icon d-flex">
                                                    <i class="far fa-question-circle m-auto trix-blue"></i>
                                                </div>
                                                <h3>Besoin d'aide ?</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="~/SI/Projets.cshtml" class="link-picto">
                                            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                                <div class="features-icons-icon d-flex">
                                                    <i class="fas fa-archive m-auto trix-blue picto"></i>
                                                </div>
                                                <h3>Statistiques</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6 background-color-darkblue">
                        <div class="block">
                            <a class="color-white" href="~/SI">Systeme d'Information</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <div class="col-lg-12 order-lg-2">
                    <!-- News -->
                    <div class="container showcase-text trix-blue" style="border-bottom: #e2e5e7 solid 1px;">
                        <h2 style="font-size: 2rem;"><i class="fas fa-newspaper"></i> Fil d'actualités</h2>
                        <div class="container">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" href="#Finance" data-toggle="tab" role="tab" aria-controls="Finance" aria-selected="true" style="color : black!important">Articles Finance</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#SI" data-toggle="tab" role="tab" aria-controls="SI" aria-selected="false" style="color : black!important">Articles SI</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Finance" role="tabpanel" aria-labelledby="Finance-tab">
                                    @{
                                        ViewBag.Who = "Finance";
                                        ViewBag.TypeOfArticle = "ArticleFinance";
                                        await Html.RenderPartialAsync("../Shared/_Articles");
                                    }
                                </div>
                                <div class="tab-pane" id="SI" role="tabpanel" aria-labelledby="SI-tab">
                                    @{
                                        ViewBag.Who = "SI";
                                        ViewBag.TypeOfArticle = "ArticleSI";
                                        await Html.RenderPartialAsync("../Shared/_Articles");
                                    }
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#myTab a').on('click', function (e) {
                                e.preventDefault();
                                $(this).tab('show');
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Bootstrap core JavaScript -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--<script>
    var doc1 = document.getElementById("1");
    var doc2 = document.getElementById("2");
    doc1.addEventListener('click', function () {
        console.log("doc 1 cliqué")
        doc1.tab('hide');
        doc2.tab('show');
    });
    doc2.addEventListener('click', function () {
        console.log("doc 2 cliqué")
        doc1.tab('show');
        doc2.tab('hide');
    });-->
@*    $('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })*@
<!--</script>-->
@*<script>
        const tabs = document.querySelectorAll('[data-tab-target]');
        const tabContents = document.querySelectorAll('[data-tab-content]');

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                const target = document.querySelector(tab.dataset.tabTarget);
                tabContents.forEach(function (tabContent) {
                    tabContent.classList.remove('active');
                });
                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                });
                tab.classList.add('active');
                target.classList.add('active');
            });
        })
    </script>*@

