@inject OrchardCore.IOrchardHelper Orchard
@model Trixnet.web.Controllers.IndexModel
@{
    //Derniere modification Teo berguerre 23/09/2020 => Fil d'actualite avec modal
    /*Page direction FINANCIERE
    Celle-ci recupere les Articles et Projets des Finances / SI afin de les afficher
    A partir de cette page on peut acceder à :
    SI
    - Help.cshtml
    - Stats.cshtml
    Finance
    - InstructionFormulaire.cshtml
    */
    /*il faudrait pouvoir un seul tableau comprenant tab_projets et tab_articlesSI et le parcourir en entier => moins de code
    var tab_actualiteSI = new System.Collections.ArrayList();
    tab_actualiteSI.Add(tab_projets);
    tab_actualiteSI.Add(tab_actualiteSI);
    var x = tab_actualiteSI[0];
    */
}

<link rel="stylesheet" href="~/css/DirectionGenerale.css">
<section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <div class="col-lg-6">
                    <div class="block d-flex justify-content-center">
                        <a href="~/DirectionGenerale/RH/RH.cshtml">Ressources Humaines</a>
                    </div>
                    <section class="features-icons  text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fab fa-wpforms m-auto trix-blue"></i>
                                            </div>
                                            <h3>Besoin d'aide ?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-plus-square m-auto trix-blue picto"></i>
                                            </div>
                                            <h3>Humanis ?</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <div class="block d-flex justify-content-center">
                        <a href="~/DirectionGenerale/Secretariat/Secretariat.cshtml">Secretariat</a>
                    </div>
                    <section class="features-icons  text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                        <div class="features-icons-icon d-flex">
                                            <i class="fas fa-phone m-auto trix-blue picto"></i>
                                        </div>
                                        <h3>Nous appeler</h3>
                                        <p>04 76 04 04 04</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <a href="mailto:secretariat@trixell-thalesgroup.com" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="far fa-envelope m-auto trix-blue"></i>
                                            </div>
                                            <h3>Nous écrire</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <div class="col-lg-12 order-lg-2">
                    <!-- News -->
                    <div class="container showcase-text trix-blue" style="border-bottom: #e2e5e7 solid 1px;">
                        <h2 style="font-size: 2rem;"><i class="fas fa-newspaper"></i> Fil d'actualités</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @{ 
                                ViewBag.TypeOfArticle = "ArticleRH";
                                await Html.RenderPartialAsync("../Shared/_Articles");
                            }
                        </div>
                        <div class="col-lg-12">
                            @{
                                ViewBag.TypeOfArticle = "ArticleSecretariat";
                                await Html.RenderPartialAsync("../Shared/_Articles");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>²


