@inject OrchardCore.IOrchardHelper Orchard
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    /////
    ///Il faudrait une fonction du style
    /// public string[] function(object sender, EventArgs e,string path){
    ///  return System.IO.Directory.GetFiles(path);
    /// }
    ///
    /////



    string path = "wwwroot/img/RH/";
    //récuperer l'ensemble des accords Trixell
    string pathDirAccords = path + "Accords_Trixell/";
    //Récupérer l'ensemble des conventions
    string pathDirConvention = path + "Convention_Trixell/";

    string pathDirFormation = path + "Formations/";

    string pathDirFichesPratiques = path + "Guides_Formulaires/FichesPratiques/";
    string pathDirFormulaire = path + "Guides_Formulaires/Formulaires/";
    string pathDirGuidesPrat = path + "Guides_Formulaires/GuidesPratiques/";
    string pathDirIRP = path + "IRP/";
    string pathDirActionLogement = path + "Action_Logement/";

    string pathDirTeletravail = path + "Teletravail/";
    string pathDirQVT = path + "QVT/";
    string pathDirHumanis = path + "Humanis/";
}

<link rel="stylesheet" href="~/css/RH.css">
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters bg-white">

            <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
            <!-- Section Caroussel /  -->
            <div class="col-lg-12">

                <!-- Carrousel -->
                <header class="page-service page-RH text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 mx-auto">
                                <h1 class="mb-5">Les ressources humaines</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="row no-gutters">
                    <!-- <div class="col-lg-6 text-white showcase-
                        " style="background-image: url('img/bg-showcase-2.jpg');"></div> -->
                    <blockquote class="col-lg-12 my-auto text-center showcase-text blockquote bg-light">
                        <!-- <h2>Le secretariat</h2> -->
                        <p class="lead mb-0">Nous mettons en oeuvre la politique RH dans le respect du cadre légal et des valeurs du Groupe, dans les meilleurs conditions en termes de qualités, cout et délais</p>
                    </blockquote>
                </div>
                <div class="container-fluid p-0">
                    <div class="row no-gutters bg-white">
                        <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
                        <!-- Section Caroussel /  -->
                        <div class="col-lg-12">
                            <!-- News -->
                            <div class="container showcase-text trix-blue" style="border-bottom: #e2e5e7 solid 1px;">
                                <h2 style="font-size: 2rem;"><i class="fas fa-newspaper"></i> Liens pratiques</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 showcase-text">
                                    <a href="~/img/RH/LiensPratiques/2020001 - FLASH INFO NAO_AMENAGEMENT TEMPS DE TRAVAIL2020_TRIXELL.pdf" class="link-news">
                                        <div class="text-news">
                                            <span class="link">Fermeture 2020</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- News -->
                                <div class="col-lg-3 showcase-text">
                                    <a href="blank" class="link-news">
                                        <div class="text-news ">
                                            <span class="link">Page compte-rendu DP</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="~/img/RH/LiensPratiques/HVI-2013312_V2(1).ppt" class="link-news">
                                        <div class="text-news ">
                                            <span class="link">Accord Horaire Variable Individualisé</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="~/img/RH/LiensPratiques/Minima Ing cadres 2019.pdf" class=" link-news">
                                        <div class="text-news ">
                                            <span class="link">Appointements minimaux des ingenieurs et cadres de la Mettalurgie 2019</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="blank" class=" link-news">
                                        <div class="text-news ">
                                            <span class="link">Bareme des salaires ouvriers 2020</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="~/img/RH/Bonnes_pratiques_utilisation_du mail_compressed.pptx" class=" link-news">
                                        <div class="text-news ">
                                            <span class="link">Bonnes pratique de l'utilisation des mails</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="blank" class=" link-news">
                                        <div class="text-news ">
                                            <span class="link">Calendrier des traitements de la paie</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 showcase-text">
                                    <a href="~/img/RH/LiensPratiques/TGA 2019 Mensuels.pdf" class=" link-news">
                                        <div class="text-news ">
                                            <span class="link">Taux Garantis Annuels (TGA) 2019</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-1 order-lg-4" style="background-color: #f2f5f7;"></div> -->
            </div>
        </div>
    </div>
</section>


<section class="showcase">
    <div class="container-fluid p-0 bg-light" style="padding-top: 32px">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <!-- Formation -->
                <div class="col-lg-12">
                    @{
                        ViewBag.Title = "Formation";
                        ViewBag.Image = "/img/RH/formation-removebg-preview.gif";
                        ViewBag.ID = "formation";
                        ViewBag.Taille = "12";
                        await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirFormation);
                    }
                </div>
                <div class="row">
                    <!-- PPTA -->
                    <div class="col-lg-6">
                        <!-- pour chaque article on lui créer un modal(pop-up bootstrap) avec son titre sa description etc-->
                        <div class="modal fade" id="PPTA" tabindex="-1" role="dialog" aria-labelledby="PPTAModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="PPTAModal">Parcours Professionnel des Techniciens et Administratifs</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="jaapooki text-sections"><a href="">Objectifs PPTA</a></h6>
                                        <br />
                                        <span>Donner de la visibilité sur les parcours professionnels possibles pour les techniciens et administratifs à Trixell :</span>
                                        <ul>
                                            <li>Clarifier mes attendus en termes de compétences (techniques et comportementales) et développer ces compétences.</li>
                                            <li>Clarifier les processus d'évolution et le processus de passage cadre.</li>
                                            <li>Permettre une gestion de nos compétences et une meilleure anticîpation de nos besoin à venir (compétences cibles).</li>
                                        </ul>
                                        <hr />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Guide PPTA</a>   (à lire pour une première utilisation)
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Les Fiches Emploi/ Compétences</a>  avec un <a href=""> guide d'utilisation</a>     (à lire pour une première utilisation)
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Les Compétences transverses</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">La Matrice de passerelles</a>   avec un <a href=""> guide d'utilisation</a>     (à lire pour une première utilisation)
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Les Règles de progression</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Le Processus passage cadre</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Processus de mise à jour des Fiches Emploi/Compétence</a>
                                        </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-text" style="padding: 0">
                            <div class="SectionHB SectionGD PageSection">
                                <div class="titreSection">
                                    <h2 class="jaapooki text-sections"> PPTA </h2>
                                </div>
                                <a class="row link-news" data-toggle="modal" href="#PPTA" data-target="#PPTA" style="padding: 10px;">
                                    <img class="col-lg-10 imgSectionRH" src="~/img/RH/ppta-removebg-preview.gif">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- PPO -->
                    <div class="col-lg-6">
                        <!-- pour chaque article on lui créer un modal(pop-up bootstrap) avec son titre sa description etc-->
                        <div class="modal fade" id="PPO" tabindex="-1" role="dialog" aria-labelledby="PPOAModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="PPOModal">Parcours Professionnel Opérateur</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="jaapooki text-sections"><a href="">Objectifs PPO</a></h6>
                                        <br />
                                        <span>Définir des parcours professionnels opérateur à Trixell pour :</span>
                                        <ul>
                                            <li>Donner des perspectives d'évolution.</li>
                                            <li>Reconnaître et développer les compétences.</li>
                                            <li>PDévelopper des équipes de production performantes</li>
                                        </ul>
                                        <div class="text-center">
                                            <span>En lien avec la convention collective de la métallurgie.</span>
                                            <br />
                                            <span>Mettre en place un cadre dynamique et adapté aux besoins de Trixell</span>
                                        </div>
                                        <hr />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Accord</a>  sur la gestion des carrieres operateurs de production du 06/12/2010
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Cadre general de PPO</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Formulaire entretien PPO</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Fiches de certification</a>
                                        </span>
                                        <br />
                                        <br />
                                        A remplacer
                                        <img src="~/img/pepelaughz.jpg" alt="Schéma du process PPO - La progression standard" width="750" height="800" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="showcase-text" style="padding: 0">
                            <div class="SectionHB SectionGD PageSection">
                                <div class="titreSection">
                                    <h2 class="jaapooki text-sections"> PPO </h2>
                                </div>
                                <a class="row link-news" data-toggle="modal" href="#PPO" data-target="#PPO" style="padding: 10px;">
                                    <img class="col-lg-10 imgSectionRH" src="~/img/RH/ppo-removebg-preview.gif">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Handicap -->
                    <div class="col-lg-12">
                        <!-- pour chaque article on lui créer un modal(pop-up bootstrap) avec son titre sa description etc-->
                        <div class="modal fade" id="espaceHandicap" tabindex="-1" role="dialog" aria-labelledby="espaceHandicapModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="espaceHandicapModal">Espace Handicap (liens faux)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span>
                                            <!--Automatisation ? easy-->
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Accord Groupe en faveur des personnes en situation de handicap 2015</a>
                                        </span>
                                        <br />
                                        <br />
                                        @*<span>
                                                <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                <a href="">Fonctionnement de la commission handicap</a>
                                            </span>
                                            <br />
                                            <br />*@
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Comptes rendus Réunions BEHRA</a>
                                        </span>
                                        <br />
                                        <br />
                                        <span>
                                            <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                            <a href="">Comptes Rendus Réunions Trixell</a>
                                        </span>
                                        <br />
                                        <br />
                                        @* <span>
                                                <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Lien1111111111111111112222222222222222222211111111111</a> <br /> <a href="index.cshtml">Lien2222522222222222222222222222222222222222222222222222</a> <br /> <a href="index.cshtml">Lien33333222222222222222222222222222222222233333333</a> <br />'>Sensibilisation Emploi Handicap Moirans</a>
                                            </span>
                                            <br />
                                            <br />
                                            <span>
                                                <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Lien11111111111111111111111111111</a> <br /> <a href="index.cshtml">Lien2222222222222222</a> <br /> <a href="index.cshtml">Lien3333333333333</a> <br />'>Articles de presse</a>
                                            </span>
                                            <br />
                                            <br />
                                            <span>
                                                <i class="fas fa-plus trix-blue" style="margin-right:10px"></i>
                                                <a class="popAnchor" href="#" data-placement="right" data-content='<a href="index.cshtml">Lien1</a> <br /> <a href="index.cshtml">Lien2</a> <br /> <a href="index.cshtml">Lien3</a> <br />'>Sensibillisation par la vidéo</a>
                                            </span>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Ici c'est l'affichage simple de la page HTML-->
                        <div class="SectionHB SectionGD PageSection">
                            <div class="titreSection">
                                <h2 class="jaapooki text-sections"> Espace Handicap </h2>
                            </div>
                            <a class="row link-news" data-toggle="modal" href="#espaceHandicap" data-target="#espaceHandicap" style="padding: 10px;">
                                <img class="col-lg-10 imgSectionRH" src="~/img/RH/handi.gif">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <!-- Accords Applicables -->
               @**@ <div class="modal fade" id="accordsApplicables" tabindex="-1" role="dialog" aria-labelledby="accordsApplicablesModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="accordsApplicablesModal">Ressources Humaines - Les Accords</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="content">
                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                    <a href="https://intranet.peopleonline.corp.thales/sites/international/europe/france/nos-services/hr-france/accords-france" target="_blank">Consulter les accords Groupe</a>
                                </div>
                                <br />
                                @{
                                    ViewBag.Title = "Les Accords Trixell";
                                    await Html.RenderPartialAsync("../Shared/_ListDocsMenu", pathDirAccords);
                                }
                                <br />
                                @{
                                    ViewBag.Title = "Les Convention Trixell";
                                    await Html.RenderPartialAsync("../Shared/_ListDocsMenu", pathDirConvention);
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="showcase-text" style="padding: 0">
                        <div class="SectionHB SectionGD PageSection">
                            <div class="titreSection">
                                <h2 class="jaapooki text-sections"> Accords applicables </h2>
                            </div>
                            <a href="#accordsApplicables" data-toggle="modal" data-target="#accordsApplicables" class="row" style="padding: 10px;">
                                <img class="col-lg-10" src="~/img/RH/mini_accord.gif" height="395">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Guides/Formulaires RH -->
                <div class="modal fade" id="guides_Formulaires" tabindex="-1" role="dialog" aria-labelledby="guides_FormulairesModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-lg">
                            <div class="modal-header">
                                <h5 class="modal-title" id="guides_FormulairesModal">Guides et Formulaires</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span style="color:forestgreen; text-align : center">
                                    <strong>
                                        Si vous ne trouvez pas le document souhaité, faites une recherche dans le
                                        <a href="#">référenciel RH ISO </a>
                                    </strong>
                                </span>
                                <br />
                                <br />
                                @{
                                    ViewBag.Title = "Les Fiches Pratiques";
                                    await Html.RenderPartialAsync("../Shared/_ListDocsMenu", pathDirFichesPratiques);
                                }
                                <br />
                                @{
                                    ViewBag.Title = "Les Guides Pratiques";
                                    await Html.RenderPartialAsync("../Shared/_ListDocsMenu", pathDirGuidesPrat);
                                }
                                <br />
                                @{
                                    ViewBag.Title = "Les Formulaires RH";
                                    await Html.RenderPartialAsync("../Shared/_ListDocsMenu", pathDirFormulaire);
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="showcase-text" style="padding: 0">
                        <div class="SectionHB SectionGD PageSection">
                            <div class="titreSection">
                                <h2 class="jaapooki text-sections"> Guides et formulaires RH </h2>
                            </div>
                            <a href="#guides_Formulaires" data-toggle="modal" data-target="#guides_Formulaires" class="row" style="padding: 10px;">
                                <img class="col-lg-10" src="~/img/RH/formulaire-removebg-preview.gif" height="300">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">

            <!-- QVT -->
            <div class="col-lg-6">
                @{
                    ViewBag.Title = "Qualité de Vie au Travail";
                    ViewBag.Image = "/img/RH/QVT-removebg-preview.gif";
                    ViewBag.ID = "QVT";
                    ViewBag.Taille = "12";
                    await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirQVT);
                }
                <!-- Teletravail -->
                @{
                    ViewBag.Title = "Télétravail";
                    ViewBag.Image = "/img/RH/teletravail.jpeg";
                    ViewBag.ID = "teletravail";
                    ViewBag.Taille = "12";
                    await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirTeletravail);
                }
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters">
                    <!-- Crèche -->
                    @{
                        ViewBag.Title = "Crèche";
                        ViewBag.Image = "/img/RH/creche-entreprise.jpg";
                        ViewBag.ID = "creche";
                        ViewBag.Taille = "12";
                        await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirQVT);
                    }
                    <!-- Nouveaux Arrivants -->
                    @{
                        ViewBag.Title = "Nouveaux arrivants";
                        ViewBag.Image = "/img/RH/creche-entreprise.jpg";
                        ViewBag.ID = "nouveauxArrivants";
                        ViewBag.Taille = "6";
                        await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirQVT);
                    }

                    <!-- Action Logement -->
                    @{
                        ViewBag.Title = "Action Logement";
                        ViewBag.Image = "/img/RH/action_logement-removebg-preview.gif";
                        ViewBag.ID = "actionLogement";
                        ViewBag.Taille = "6";
                        await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirActionLogement);
                    }
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            @{
                ViewBag.Image = "/img/RH/irp.gif";
                ViewBag.ID = "IRP";
                ViewBag.HeightImage = 300;
                ViewBag.Taille = "6";
                ViewBag.Title = "Instance Représentation du Personnel (IRP)";
                await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirIRP);
            }
            <!-- Mutuelles Humanis -->
            <div class="col-lg-6">
                @{
                    ViewBag.Image = "/img/RH/humanis.gif";
                    ViewBag.ID = "mutuelle";
                    ViewBag.HeightImage = 300;
                    ViewBag.Taille = "12";
                    ViewBag.Title = "Mutuelle Humanis";
                    ViewBag.SpecialHTML = "<a href='#'> Mutuelle Humanis </a>";
                    await Html.RenderPartialAsync("../Shared/_ListDocsModal", pathDirHumanis);
                }
            </div>
        </div>
    </div>
</section>
<!-- Articles Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="col-lg-12 bg-white">
            @{
                ViewBag.TypeOfArticle = "ArticleRH";
                await Html.RenderPartialAsync("../Shared/_Articles");
            }
        </div>
    </div>
</section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Utils.js"></script>

