@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/timeline.css">
<section>
    <h2 style="color : white; text-align : center;">Nos Produits</h2>
    <div class="timelineSection">
        <!--peut mieux faire avec nth-child(odd/even)-->
        @for (int i = 0; i < 6; i++)
        {
                <div class="containerSection @(i%2 == 0 ? "left" : "right")">
                    <div class="contentSection">
                        <h2>Titre 1</h2>
                        <hr />
                        <p>
                            Lorem ipsumLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un description
                            Lorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un description
                            Lorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un description
                            Lorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un descriptionLorem ipsum je suis un description
                        </p>
                        <hr />
                        <img src="~/img/InProgress.jpg" loading="lazy" />

                    </div>
                </div>
            }
        }

    </div>

</section>