@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    //Teo Berguerre 21/09/2020
*@
@{
}

<section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <div class="col-lg-12 order-lg-2">
                    <header class="page-service page-secretariat text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 order-lg-2 mx-auto">
                                    <h1 class="mb-5">Le Support Informatique</h1>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="row no-gutters">
                        <blockquote class="col-lg-12 my-auto text-center showcase-text blockquote">
                            <p class="lead mb-0 text-orange">Retrouvez sur cette page a qui s'adresser pour toutes demandes de support selon votre besoin.<p>
                        </blockquote>
                    </div>
                    <div class="row">
                        <!--Support bureautique-->
                        <div class="col-lg-6 margin-top-30">
                            <div class="col-lg-12">
                                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex">
                                        <i class="fas fa-desktop fa-6x align-content-center m-auto trix-blue"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-align-center">Le <strong>support bureautique</strong> est assuré par Thales Global Services</p>
                                <br />
                                <p>Votre demande porte sur l'acquisition de matériel informatique (clé USB...) ? visitez <a href=""><strong>blueshop</strong></a>.</p>
                                <br />
                                <p>Le nom de votre poste commence par << <strong>L</strong> >>, << <strong>D</strong> >> ou << <strong>W</strong> >>, suivi de <strong>6 chiffres</strong> (ex : L012345).</p>
                                <p>Ou << <strong>673</strong> >> suivi de <strong>9 chiffres</strong>.</p>
                                <br />
                                <p class="text-align-left">Votre demande porte sur :</p>
                                <ul class="text-align-left">
                                    <li>Les mots de passe</li>
                                    <li>La messagerie</li>
                                    <li>L'accès aux espaces partagés (L:, I:)</li>
                                    <li>Une demande bureautique fixe ou portable</li>
                                    <li>L'obtention / la restitution d'un poste de travail</li>
                                    <li>L'installaion / désinstallation d'un logiciel bureautique</li>
                                    <li>L'obtention d'un smartphone ou d'un téléphone</li>
                                </ul>
                                <p class="text-align-left">Cliquez ci-dessous pour faire votre demande sur :</p>
                                <a  href="https://kiss.service-now.com/ssp">
                                    <div class="button">Portail KISS</div>
                                </a>         
                             </div>                 
                        </div>
                        <!--Support industriel / Applicqtions industrielles-->
                        <div class="col-lg-6 margin-top-30">
                            <div class="col-lg-12">
                                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex">
                                        <i class="fas fa-cogs fa-6x align-content-center m-auto trix-blue"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-align-center">Le <strong>support informatique industrielle / applications industrielles</strong> est assuré au sein de Trixell.</p>
                                <br />
                                <p class="text-align-left">Votre demande porte sur : </p>
                                <ul class="text-align-left">
                                    <li>Les postes industriels (noms commençant par <strong>TRIX</strong> ou <strong>TIV</strong>)</li>
                                    <li>Les imprimantes (incidents, nouvelles cqrtouches)</li>
                                    <li>Le materiel info des sammes de réunions</li>
                                    <li>Le réseau / les serveurs</li>
                                </ul>
                                <p class="text-align-left">Ou sur :</p>
                                <ul class="text-align-left">
                                    <li>MES</li>
                                    <li>SAP</li>
                                    <li>Macros Excel</li>
                                    <li>SPC</li>
                                    <li>Trixnet et applications intranet</li>
                                    <li>et toutes les autres applications industrielles</li>
                                </ul>
                                <p class="text-align-left">Cliquez ci-dessous pour faire votre demande sur :</p>
                                <a href="https://trixhelpdesk01">
                                    <div class="button margin-top-56">Portail SI MoiransS</div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
<link rel="stylesheet" href="~/css/Help.css">
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
