@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters bg-white">
                <!-- <div class="col-lg-1 order-lg-1" style="background-color: #f2f5f7;"></div> -->
                <!-- Section Caroussel /  -->
                <div class="col-lg-12 order-lg-2">
                    <!-- Carrousel -->
                    <header class="page-service page-secretariat text-white text-center" style="padding-top: 9rem; padding-bottom: 7rem;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 order-lg-2 mx-auto">
                                    <h1 class="mb-5">Formulaires</h1>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Icons Grid -->
                    <section class="features-icons bg-light text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="modal fade" id="BonMateriel" tabindex="-1" role="dialog" aria-labelledby="BonMaterielModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="BonMaterielModal">Formulaires Direction Financière</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span> <a href="">Bon de sortie de matériell informatique</a></span>
                                                    <br />
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#BonMateriel" data-target="#BonMateriel" data-toggle="modal" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-sign-out-alt m-auto trix-blue"></i>
                                            </div>
                                            <h3>Bons de sortie de matériel</h3>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-lg-4">
                                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                        <div class="features-icons-icon d-flex">
                                            <i class="fas fa-cocktail m-auto trix-blue picto"></i>
                                        </div>
                                        <h3>Invité restaurant entreprise</h3>
                                    </div>
                                </div>
                                <!--Demandes-->
                                <div class="col-lg-4">
                                    <div class="modal fade" id="DIFormulaires" tabindex="-1" role="dialog" aria-labelledby="DIFormulairesModal" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="DIFormulairesModal">Formulaires Direction Industrielle (liens faux)</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                    <a href="">Demandes Infras / HSE </a>
                                                    <br />
                                                    <br />
                                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                    <a href="">Déclaration préalable à une mission </a>
                                                    <br />
                                                    <br />
                                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                    <a href=""> Bon de sortie de matériel</a>
                                                    <br />
                                                    <br />
                                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                    <a href=""> Demande d'expédition </a>
                                                    <br />
                                                    <br />
                                                    <i class="fas fa-angle-right trix-blue" style="margin-right:10px"></i>
                                                    <a href=""> Réservations équipements</a>
                                                    <br />
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#DIFormulaires" data-target="#DIFormulaires" class="link-picto" data-toggle="modal">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-industry m-auto trix-blue"></i>
                                            </div>
                                            <h3>Direction Industrielle</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <div class="modal fade" id="DTFormulaire" tabindex="-1" role="dialog" aria-labelledby="DTFormulaireModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="DTFormulaireModal">Formulaires Direction Financière</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span> <a href="">Demande d'expertise DEO</a></span>
                                                    <br />
                                                    <br />
                                                    <span> <a href="">Demande de travail qualif</a></span>
                                                    <br />
                                                    <br />
                                                    <span> <a href="">Demande de moyen de test</a></span>
                                                    <br />
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#DTFormulaire" data-target="#DTFormulaire" data-toggle="modal" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-cog m-auto trix-blue"></i>
                                            </div>
                                            <h3>Direction Technique</h3>
                                        </div>
                                    </a>
                                </div>
                                <!--Plan Trixell Thales Moiran-->
                                <div class="col-lg-4">
                                    <div class="modal fade" id="DFFormulaire" tabindex="-1" role="dialog" aria-labelledby="DFFormulaireModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="DFFormulaireModal">Formulaires Direction Financière</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span> <a href="">Demande de poste industriel</a></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#DFFormulaire" data-target="#DFFormulaire" data-toggle="modal" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fas fa-file-invoice-dollar m-auto trix-blue"></i>
                                            </div>
                                            <h3>Direction Financière</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <div class="modal fade" id="RHFormulaires" tabindex="-1" role="dialog" aria-labelledby="RHFormulairesModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="RHFormulairesModal">Formulaires Ressources Humaines</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span><a href="">Demande de Dérogation d'Horaires</a></span>
                                                    <br />
                                                    <span><a href=""> Autorisation d'absences diverses - Bon de sortie</a></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#RHFormulaires" data-target="#RHFormulaires" data-toggle="modal" class="link-picto">
                                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                            <div class="features-icons-icon d-flex">
                                                <i class="fab fa-mandalorian m-auto trix-blue"></i>
                                            </div>
                                            <h3>Ressources Humaines</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <!-- <div class="col-lg-1 order-lg-4" style="background-color: #f2f5f7;"></div> -->

            </div>
        </div>
    </section>
</section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>