body {
}

/*.timeline {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: $black;
}

.timeline:before{
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: $black;
    text-align: center;
    line-height: 1.25em;
    color: $white;
    font-size: 1em;
}

}

.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.timeline:before{
    left: 100%;
    margin-left: -20px;
}

}


.timeline:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    
}

.timeline:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}

}

.timeline:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.timeline:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}*/



/*p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: $black;
}

p:before{
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: $black;
    text-align: center;
    line-height: 1.25em;
    color: $white;
    font-size: 1em;
}



p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

p:nth-child(odd):before{
    left: 100%;
    margin-left: -20px;
}


p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
p:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}

}

p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}*/


.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.content {
    margin-top: 100px;
}

.margin-bottom-100{
    margin-bottom : 100px;
}

section {
    background-color: rgba(0,25,80,1);
    background-image: url("../img/triX.png");
    background-size: cover;
    background-position-y : center;
}

.content .dropdown-menu {
    background-color: rgb(19,133,203);
}



ul li a {
    color : white;
}
/*
.point {
    min-width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}*/

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
    padding-right : 70px;
}

/*.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
}*/

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

/*.timeline ul li:nth-child(even) .date {
    padding-left: 0;
}*/

/*.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}*/

/*.timeline ul li .date h4 {
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}*/

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: rgb(19,133,203);
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
}


.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: rgb(48,157,181);
}

h3 > ul{
    padding-right: 440px;
}

.padding-440 {
    padding-right : 440px;
}

.padding-right-408{
    padding-right : 408px;
}

.padding-right-510{
    padding-right : 510px;
}