@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/organigramme.js"></script>
    <div>
        <h1>Organigramme</h1>
    </div>
    <span>Nom + Prenom</span>
    <input id="nom" type="text" name="nom">
    <br>
    <span>Fonction</span>
    <input id="fonction" type="text" name="fonction" maxlength="30">
    <br>
    <span>Superieur</span>
    <input id="superieur" type="text" name="superieur">
    <br>

    <button onclick="addUser()">Ajouter un utilisateur (mettre a jour l'organigramme)</button>
    <br />
    <br />
    <button onclick="afficherOrganigramme(); return false">Afficher Organigramme</button>
    <br />
    <br />
    <button onclick="sauvegarderOrganigramme(); return false">Sauvegarder Organigramme</button>

    <div id="chart_div"></div>

</section>